<head>
  <title>Create your ticket</title>
  <meta charset="utf-8" />
  <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=6.0">
  <meta name="robot" content="all">
  <meta name="rating" content="general">
  <meta name="distribution" content="global">
  <meta name="language" content="en">
  <meta name="robots" content="index,follow">

  <meta name="theme-color" content="#5f163a">

  <link rel="apple-touch-icon" href="/static/ticket-512.png">
  <meta property="og:image" content="/static/ticket-512.png">

  <meta name="description" content="Create your ticket to be sharable">
  <meta property="og:description_safe" content="Create your ticket to be sharable" />

  <meta property="og:title" content="Create your ticket" />
  <meta property="twitter:title" content="Create your ticket" />

  <meta name="author" content="@joaomarcuslf">

  <link rel="shortcut icon" href="/static/ticket-32.png" />
  <link rel="stylesheet" type="text/css" href="/static/main.css" />
</head>
