<html>

<head>
  <title>Create your ticket</title>
  <meta charset="utf-8" />
  <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=6.0">
  <meta name="robot" content="all">
  <meta name="rating" content="general">
  <meta name="distribution" content="global">
  <meta name="language" content="en">
  <meta name="robots" content="index,follow">

  <meta name="theme-color" content="#5f163a">

  <link rel="apple-touch-icon" href="/static/ticket-512.png">
  <meta property="og:image" content="/static/ticket-512.png">

  <meta name="description" content="Create your ticket to be sharable">
  <meta property="og:description_safe" content="Create your ticket to be sharable" />

  <meta property="og:title" content="Create your ticket" />
  <meta property="twitter:title" content="Create your ticket" />

  <meta name="author" content="@joaomarcuslf">

  <link rel="shortcut icon" href="/static/ticket-32.png" />
  <link rel="stylesheet" type="text/css" href="/static/main.css" />
</head>

<body>
  <section class="hero is-purple is-light is-fullheight">
    <div class="hero-body">
      <div class="container">
        <div class="columns is-centered">
          <div class="column is-8-tablet is-7-desktop is-7-widescreen">
            <form action="/create-ticket" method="post" class="box">
              <div class="field">
                <label for="" class="label has-text-left">Title</label>

                <div class="control {{if .Errors.title}}has-error{{end}}">
                  <input class="input {{if .Errors.title}}is-danger{{end}}" placeholder="e.g. You have done well"
                    name="title" value="{{.Values.title}}" />
                </div>

                {{if .Errors.title}}
                <p class="help is-danger has-text-right">
                  {{ .Errors.title }}
                </p>
                {{end}}
              </div>

              <div class="field">
                <label for="" class="label has-text-left">Description</label>

                <div class="control {{if .Errors.description}}has-error{{end}}">
                  <textarea class="textarea {{if .Errors.description}}is-danger{{end}}"
                    placeholder="e.g. Congrats on your job" name="description">{{.Values.description}}</textarea>
                </div>

                {{if .Errors.description}}
                <p class="help is-danger has-text-right">
                  {{ .Errors.description }}
                </p>
                {{end}}
              </div>

              <div class="field has-text-right">
                <button class="button is-purple is-rounded is-medium is-fullwidth">
                  Create
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>

</body>

</html>